

<footer class="footer">
    <div class="wrapper">
        <div class="footer__pages">
            <ul class="footer__nav">
                @*<li class="footer__nav__item">
                    @Html.ActionLink("La Federación", "fdpn", "nosotros")
                </li>*@
                <li class="footer__nav__item">
                    @Html.ActionLink("El directorio", "directorio", "nosotros")
                </li>
                <li class="footer__nav__item">
                    @Html.ActionLink("Estatuto", "estatuto", "nosotros")
                </li>
                <li class="footer__nav__item">
                    @Html.ActionLink("IPD", "ipd", "nosotros")
                </li>
                <li class="footer__nav__item">
                    @Html.ActionLink("FINA", "fina", "nosotros")
                </li>
                <li class="footer__nav__item">
                    @Html.ActionLink("UANA", "uana", "nosotros")
                </li>
                <li class="footer__nav__item">
                    @Html.ActionLink("CONSANAT", "consanat", "nosotros")
                </li>
            </ul>

            <ul class="footer__nav">
                @*<li class="footer__nav__item">
                    @Html.ActionLink("Nosotros", "fdpn", "nosotros")
                </li>*@
                <li class="footer__nav__item">
                    @Html.ActionLink("Noticias", "noticias", "noticias")
                </li>
                <li class="footer__nav__item">
                    @Html.ActionLink("Subvenciones", "Subvenciones", "Documentos")
                </li>
                <li class="footer__nav__item">
                    @Html.ActionLink("Calendarios", "Calendarios", "Resultados")
                </li>
                <li class="footer__nav__item">
                    @Html.ActionLink("Resultados", "Resultados", "Resultados")
                </li>
                <li class="footer__nav__item">
                    @Html.ActionLink("Rankings", "Rankings", "Resultados")
                </li>
                <li class="footer__nav__item">
                    <a href="http://afiliaciones.jorgearananeyra.com/Home/Login">Afiliaciones</a>
                </li>
                <li class="footer__nav__item">
                    @Html.ActionLink("Normas y reglamentos", "Documentos", "Documentos")
                </li>
                @*<li class="footer__nav__item">
                    @Html.ActionLink("Auspiciadores", "fdpn", "nosotros")
                </li>*@
            </ul>
            <ul class="footer__nav">
                <li class="footer__nav__item">
                    @Html.ActionLink("Documentos", "documentos", "documentos")
                </li>
                <li class="footer__nav__item">
                    @Html.ActionLink("Reglamentos", "reglamentos", "documentos")
                </li>
                <li class="footer__nav__item">
                    @Html.ActionLink("Comunicados", "comunicados", "documentos")
                </li>
                <li class="footer__nav__item">
                    @Html.ActionLink("Normas de selección", "normas", "documentos")
                </li>
                <li class="footer__nav__item">
                    @Html.ActionLink("Bases de torneos", "bases", "documentos")
                </li>
                <li class="footer__nav__item">
                    @Html.ActionLink("Records", "Records", "documentos")
                </li>
            </ul>
           
          
            @*<ul class="footer__nav">
                <li class="footer__nav__item"><a href="Contact.html">Contact</a></li>
            </ul>*@
        </div>
        <div class="footer__connect">
            <h2 class="footer__connect__title u-spc-bottom--sml">Conéctate a nuestro facebook</h2>
            <ul class="smm u-spc-bottom--sml">

                <li class="smm__item">
                    <a href="https://www.facebook.com/FederacionNatacion/" class="smm__link">
                        <img src="~/Content/img/Imgsmall/facebook_logos_PNG19761.png" alt="FDPN en facebook" />
                    </a>
                </li>
            </ul>
            <p class="u-type--primary u-type--zeta">&copy;&thinsp;2017&thinsp;&mdash;&thinsp;Federación deportiva peruana de natación</p>
            <div class="espaciado"></div>
            <div class="espaciado"></div>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3901.615566177382!2d-77.04471388585591!3d-12.069950345616881!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9105c8ef2f6160bd%3A0x3884a6c7680e3a28!2sFederaci%C3%B3n+Deportiva+Peruana+de+Nataci%C3%B3n!5e0!3m2!1ses!2spe!4v1506225622848" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
    </div>
    <div class="wrapper">
        <div class="footer__pages">
            <h2 class="footer__connect__title u-spc-bottom--sml">Dirección	: Jr. Nazca Cdra. 6 s/n, Campo de Marte - Jesús María</h2>
            <p class="u-type--primary u-type--zeta">Lima - Código postal : 15072</p>
            <p class="u-type--primary u-type--zeta">Teléfono	: 4243538</p>
        </div>
        </div>

</footer>