@model FDPN.ViewModels.Home.NadadorDestacadoViewModels

@{
    string path = "http://afiliaciones.fdpn.org/Content/Images/";
}

<div class="card card-pricing card-raised">
    <div class="col-md-8 ml-auto mr-auto">
        <h2 class="title ">Deportista destacado</h2>
      
        <div class="contenedorNadadorDestacado">
            <img class="img ImagenCuarto center" src=@Url.Content(path + @Model.Inscripciones.RutaFoto+ ".jpg")>
        </div>
        <h4 class="title ">@Model.Inscripciones.Afiliado.Nombre <strong>@Model.Inscripciones.Afiliado.Apellido_Paterno</strong></h4>
        <h4 class="title  ">@Model.resultados.Athlete1.Age años</h4>
        <h4 class="title ">@Model.resultados.MEET1.MName</h4>

    </div>

    <table class="table ">
        <thead>
            <tr>

                <th>Prueba</th>
                <th>Score</th>
                <th>Puntos FINA</th>
                <th>Equipo</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@Model.resultados.DISTANCE  @Model.resultados.STROKE</td>
                <td>
                    @Model.resultados.SCORE
                </td>
                <td>@Model.resultados.PFina</td>
                <td>@Model.resultados.TEAM1.TName</td>
            </tr>
        </tbody>
    </table>

    <div class="container">
        <div class="row tablacenter">
            @Html.ActionLink("Ver todos los nadadores", "Nadadores", "Resultados", null, new { @class = "btn btn-primary  center" })
            <br />
        </div>
        <div class="col-md-10 ml-auto mr-auto text-center">

            <h6 class="title">* Se consideran los tiempos registrados a partir del año 2000</h6>

        </div>
    </div>
    </div>