@model FDPN.ViewModels.Home.NadadorDestacadoViewModels

@{ 
    string path ="http://afiliaciones.jorgearananeyra.com/Content/Images";
}

<div class="is-ontop">
    <header class="site-homepage__section__header">
        <h2 class="site-title site-title--ultra site-title--ultra--negative">Deportista destacado</h2>
        <h4>  </h4>
    </header>
    <div class="site-athleteswidget">
        <div class="js-FeaturedAthletes">

            <div class="site-athleteswidget__athlete">
                <div class="site-athleteswidget__photo site-athleteswidget__photo--negative">
                    <img src=@Url.Content(path +"/"+ Model.afiliado.RutaFoto + ".jpg")>
                </div>
                <div class="site-athleteswidget__info site-athleteswidget__info--negative">
                    <h3 class="site-athleteswidget__name">@Model.afiliado.Nombre <strong>@Model.afiliado.Apellido_Paterno</strong></h3>
                    
                    <p class="site-athleteswidget__subtitle">@Model.resultados[0].MEET1.MName</p>
                    <table class="site-rankingwidget__table">
                        <thead>
                            <tr>
                                <th>Puesto</th>
                                <th>Prueba</th>
                                <th>Score</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.resultados)
                            {
                                <tr>
                                    <td>@item.PLACE</td>
                                    <td>@item.DISTANCE  @item.STROKE</td>
                                    <td>
                                        @item.SCORE
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
    <div class="site-athleteswidget">
         </div>
    <footer class="site-homepage__section__footer">
        @Html.ActionLink("Ver todos los nadadores", "Nadadores", "Resultados",null, new { @class = "btn btn--primary btn--lrg u-rounded" } )
     </footer>
    <CODE>* Se consideran los tiempos registrados a partir del año 2000</CODE>
</div>
