@model List<FDPN.ViewModels.Home.previewNoticiasViewModel>

@{

    string path = Url.Content("~/Content/img/Fotos/");
}


<div class="BannerDelgado u-animation--fadeInSection" style="margin-top:10px;">

    @using (Html.BeginForm("Noticias", "Noticias", FormMethod.Post))
    {
        <div class="BannerDelgadoFoto">
            <center>
                <div class="row cardsubtitulo-blanca">
                    <div class="col-md-12" style="text-align:center;"><p class="formatted__hugephoto__title TextoBannerDelgado">NOTICIAS</p></div>
                </div>
                <div class="container cardsubtitulo-blanca">
                    <div class="row">
                        <div class="col-lg-2 col-lg-offset-2">
                            Buscar
                        </div>
                        <div class="col-lg-4">
                            @Html.TextBox("searchString", null, new { @class = "input input--text input--sml input--sml--padded" })
                        </div>
                        <div class="col-lg-2">
                            <input type="submit" value="Buscar" class="btn btn--negative btn--sml u-rounded" />
                        </div>
                    </div>
                    <div class="espaciado"></div>
                </div>
            </center>
        </div>
    }
</div>
<section class="site-news site-homepage__pushup">

    <div class="wrapper site-athleteswidget">
        <div class="row">
            @foreach (var item in Model)
            {

                <div class="card col-lg-3 col-md-4 col-sm-6">
                    <a href=@Url.Action("noticia", "noticias", new { @id= item.noticia.NoticiaId})>
                        <div class="site-news__visual u-animation--fadeInSection" data-wow-duration="700ms" data-wow-delay="100ms">
                            <div class="item-img-wrap ">
                                @if (item.fotos.Count() > 0)
                                {
                                    <div class="ImagenNoticia" style="background-image: url(@Url.Content(path +  item.fotos[0].Nombrefoto))"></div>
                                }
                                else
                                {
                                    <div class="ImagenNoticia" style="background-image: url(@Url.Content(path + "campodemarte.jpg"))"></div>
                                }
                            </div><!--item image hover-->
                            <div class="blog-desc">
                                <h3 class="cardsubtitulo">@item.noticia.Titulo</h3>

                                <p>
                                    @item.noticia.Corta
                                </p>
                                <span class="noticiaspan">Publicado el @item.noticia.Fecha.ToString("dd/MMM/yyyy")</span>
                            </div><!--blog desc-->

                        </div><!--blog post col end-->
                    </a>
            </div>

            }
        </div>


        </div>
        <center>

            @Html.ActionLink("Ver todos las noticias", "Noticias", "noticias", null, new { @class = "btn btn--primary btn--lrg u-rounded" })
        </center>
    </section>

