@model List<FDPN.Models.Calendario>

@{
    string path = "~/Content/img/fondos/";
    string pathiconos = "../Content/img/Imgsmall/";
}


<div class="team-4 section-image" style="background-image: url('Content/img/Fotos/img9.jpg')">
    <div class="container">
        <div class="row">
            <div class="col-md-8 ml-auto mr-auto text-center">
                <h2 class="title">Descargue el calendario por disciplinas</h2>
                <center>

                    @Html.ActionLink("Masters", "PrintCalendario", "Calendarios", new { disciplina = 6, target = "_blank" }, new { @class = "btn  btn-primary btn-sm" })

                    @Html.ActionLink("Polo Acuático", "PrintCalendario", "Calendarios", new { disciplina = 2, target = "_blank" }, new { @class = "btn   btn-primary btn-sm" })

                    @Html.ActionLink("Natación Artística", "PrintCalendario", "Calendarios", new { disciplina = 3, target = "_blank" }, new { @class = "btn   btn-primary btn-sm" })

                    @Html.ActionLink("Aguas Abiertas", "PrintCalendario", "Calendarios", new { disciplina = 5, target = "_blank" }, new { @class = "btn   btn-primary btn-sm" })

                    @Html.ActionLink("Clavados", "PrintCalendario", "Calendarios", new { disciplina = 4, target = "_blank" }, new { @class = "btn   btn-primary btn-sm" })

                    @Html.ActionLink("Natación", "PrintCalendario", "Calendarios", new { disciplina = 1, target = "_blank" }, new { @class = "btn   btn-primary btn-sm" })

                    @Html.ActionLink("Consolidado", "PrintCalendario", "Calendarios", new { disciplina = 7, target = "_blank" }, new { @class = "btn  btn-primary btn-sm" })

                </center>
            </div>
        </div>
        <div class="row IgualAltura">
            @foreach (var item in Model)
            {
                <div class="col-md-4 ElementoIgualAltura">
                    <div class="card card-profile @item.Disciplina.clase ElementoIgualAltura">
                       
                        <div class="card-body">
                            <h3 class="card-title">@item.Evento</h3>
                            <h4 class="card-category text-muted">Sede: @item.Sede</h4>
                            <p class="card-title">
                                @item.Inicio.ToString("dd MMM yyyy") - @item.Fin.ToString("dd MMM yyyy")
                            </p>
                            <p class="card-title">
                                Categorías: @item.Observación
                            </p>
                        </div>
                        <div class="card-footer justify-content-center">
                            <img class="iconCalendario" src="@Url.Action(pathiconos + @item.Disciplina.clase + ".jpg")" />
                        </div>
                    </div>
                </div>
            }
        </div>
      

            @Html.ActionLink("Ver todos los eventos", "calendarios", "resultados", null, new { @class = "btn btn-primary tablacenter" })
       
    </div>
</div>
