@model List<FDPN.ViewModels.Home.previewNoticiasViewModel>

@{

    string path = Url.Content("Content/img/Fotos/");
    string pathicono = Url.Content("../Content/img/ImgSmall/");
}

<div class="container">
    <h3 class="title text-center">Noticias</h3>
    <br>
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-md-4">
                <div class="card card-plain card-blog">
                    <div class="card-header card-header-image">
                        <a href=@Url.Action("noticia", "noticias", new { @id= item.noticia.NoticiaId})>
                            <img class="img img-raised" src="@Url.Content(path +  item.fotos[0].Nombrefoto)">
                        </a>
                    </div>
                    <div class="card-body">
                        <h6 class="card-category text-info">
                            <img class="iconCalendario" src="@Url.Content(path +  item.noticia.Disciplina.clase)">
                            @item.noticia.Disciplina.TipoDisciplina
                        </h6>
                        <h4 class="card-title">
                            <a href=@Url.Action("noticia", "noticias", new { @id= item.noticia.NoticiaId})>@item.noticia.Titulo</a>
                        </h4>
                        <p class="card-description">
                            @item.noticia.Corta
                            <a href=@Url.Action("noticia", "noticias", new { @id= item.noticia.NoticiaId})> Leer nota completa </a>
                        </p>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

