@model List<FDPN.Models.Calendario>



<div class="site-homepage__pushup">
    <div class="BannerDelgado u-animation--fadeInSection" style="margin-top:10px;">
        <header class="">

            <div class="row cardsubtitulo-blanca">
                <div class="col-lg-12" style="text-align:center;"><p class="formatted__hugephoto__title TextoBannerDelgado">Calendarios</p></div>
            </div>

        </header>
        <center>
            <p class="u-type--medium u-type--delta u-spc-bottom--med cardsubtitulo-blanca">Vea la versión imprimible de los calendarios</p>
        </center>
        <div class="wrapper">
            <center>
                @Html.ActionLink("Masters", "PrintCalendario", "Calendarios", new { disciplina = 6 }, new { @class = "btn btn-default  master" })

                @Html.ActionLink("Polo Acuático", "PrintCalendario", "Calendarios", new { disciplina = 2 }, new { @class = "btn btn-default  wp" })

                @Html.ActionLink("Natación Artística", "PrintCalendario", "Calendarios", new { disciplina = 4 }, new { @class = "btn btn-default  sincro" })

                @Html.ActionLink("Aguas Abiertas", "PrintCalendario", "Calendarios", new { disciplina = 3 }, new { @class = "btn btn-default  aguas" })

                @Html.ActionLink("Clavados", "PrintCalendario", "Calendarios", new { disciplina = 5 }, new { @class = "btn btn-default  clavados" })

                @Html.ActionLink("Natación", "PrintCalendario", "Calendarios", new { disciplina = 1 }, new { @class = "btn btn-default  natacion" })

                @Html.ActionLink("Consolidado", "PrintCalendario", "Calendarios", new { disciplina = 7 }, new { @class = "btn btn-default" })

            </center>
        </div>
    </div>
   
        <div class="site-homepage__section__content u-grid">
            <section>
                <div class="row ">
                    @foreach (var item in Model)
                    {
                        <div class="col-lg-4 col-md-6 col-sm-12">
                            <div  class="card">
                                <div data-mh="card" class="calendarioficha @item.Disciplina.clase">
                                    <div>
                                        <p class="cardsubtitulo-blanca">@item.Inicio.ToString("dd MMM yyyy") - @item.Fin.ToString("dd MMM yyyy")</p>
                                        <hr />
                                        <h3 class="cardtitulo">@item.Evento</h3>
                                        <p class="cardsubtitulo">Sede: @item.Sede</p>
                                    </div>
                                    <div class="@item.Disciplina.clase">
                                        <p class="cardsubtitulo">Disciplina: @item.Disciplina.TipoDisciplina</p>
                                        <p class="cardsubtitulo-blanca">Categorías: @item.Observación</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>

                <div class="espaciado"></div>
                <center>

                    @Html.ActionLink("Ver todos los eventos", "calendarios", "resultados", null, new { @class = "btn btn--primaryapnea btn--lrg u-rounded" })
                </center>
                <div class="espaciado"></div>
            </section>
        </div>
    </div>


