@model FDPN.Models.Banners

@{

    string path = Url.Content("~/Content/imagenes/" + Model.Foto);
    string clase = ViewBag.clase;
}


<nav class="navbar navbar-color-on-scroll navbar-transparent    fixed-top  navbar-expand-lg " color-on-scroll="100" id="sectionsNav">
    <div class="container">
        <div class="navbar-translate">
            <a class="navbar-brand" href="index.html">
                FDPN
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="sr-only">Toggle navigation</span>
                <span class="navbar-toggler-icon"></span>
                <span class="navbar-toggler-icon"></span>
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav ml-auto">
              
                <li class="dropdown nav-item">
                    <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
                        <i class="material-icons">import_contacts</i> Documentos
                    </a>
                    <div class="dropdown-menu dropdown-with-icons">
                        @Html.ActionLink("El directorio", "directorio", "nosotros", null, new { @class = "dropdown-item" })

                        @Html.ActionLink("Estatuto", "estatuto", "nosotros", null, new { @class = "dropdown-item" })

                        @Html.ActionLink("Clubes afiliados", "ListadoClubesAfiliados", "nosotros", null, new { @class = "dropdown-item" })

                        @Html.ActionLink("Bases de torneos", "bases", "documentos", null, new { @class = "dropdown-item" })

                        @Html.ActionLink("Reglamentos", "Reglamentos", "documentos", null, new { @class = "dropdown-item" })

                        @Html.ActionLink("Comunicados", "comunicados", "documentos", null, new { @class = "dropdown-item" })

                        @Html.ActionLink("Criterios de selección", "Criterios", "documentos", null, new { @class = "dropdown-item" })

                        @Html.ActionLink("Marcas mínimas", "MarcasMinimas", "documentos", null, new { @class = "dropdown-item" })

                        @Html.ActionLink("Marcas clasificatorias a eventos internacionales", "Marcasclasificatorias", "documentos", null, new { @class = "dropdown-item" })

                        @Html.ActionLink("Convocatorias", "Convocatorias", "documentos", null, new { @class = "dropdown-item" })

                        @Html.ActionLink("Clubes hábiles", "habiles", "documentos", null, new { @class = "dropdown-item" })

                        @Html.ActionLink("Formatos", "formatos", "documentos", null, new { @class = "dropdown-item" })

                        @Html.ActionLink("Subvenciones IPD", "Subvenciones", "Documentos", null, new { @class = "dropdown-item" })

                    </div>
                </li>
                <li class="dropdown nav-item">
                    <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
                        <i class="material-icons">emoji_events</i> Resultados
                    </a>
                    <div class="dropdown-menu dropdown-with-icons">

                        @Html.ActionLink("Resultados", "resultados", "resultados", null, new { @class = "dropdown-item" })

                        @Html.ActionLink("Nadadores", "nadadores", "resultados", null, new { @class = "dropdown-item" })

                        @Html.ActionLink("Rankings por prueba", "Rankings", "resultados", null, new { @class = "dropdown-item" })

                        @Html.ActionLink("Rankings Puntos FINA", "RankingsFINA", "resultados", null, new { @class = "dropdown-item" })

                        @Html.ActionLink("Resultados en pdf", "resultadosPDF", "documentos", null, new { @class = "dropdown-item" })

                        @Html.ActionLink("Rankings en pdf", "RankingPDF", "documentos", null, new { @class = "dropdown-item" })

                        @Html.ActionLink("En vivo", "Envivo", "documentos", null, new { @class = "dropdown-item" })

                        @Html.ActionLink("Records", "records", "documentos", null, new { @class = "dropdown-item" })

                    </div>
                </li>
                <li class="dropdown nav-item">
                    <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
                        <i class="material-icons">event_available</i> Calendario
                    </a>
                    <div class="dropdown-menu dropdown-with-icons">

                        @Html.ActionLink("Calendarios", "Calendarios", "resultados", null, new { @class = "dropdown-item" })

                        @Html.ActionLink("Calendario actual", "PrintCalendario", "Calendarios", new { disciplina = 7, target = "_blank" }, new { @class = "dropdown-item" })

                    </div>
                </li>
                <li class="dropdown nav-item">
                    <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
                        <i class="material-icons">people_outline</i> Academia
                    </a>
                    <div class="dropdown-menu dropdown-with-icons">
                        <a href="sections.html#headers" class="dropdown-item">
                            Headers
                        </a>

                    </div>
                </li>
                <li class="dropdown nav-item">
                    <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
                        <i class="material-icons">done_all</i> Apps
                    </a>
                    <div class="dropdown-menu dropdown-with-icons">
                        <a  class="nav-link" href="Content/pdf/AFILIACION POR PRIMERA VEZ.pdf">Como afiliarte</a>
                        <a class="nav-link" href="http://afiliaciones.fdpn.org">Afiliaciones</a>
                        <a class="nav-link" href="http://inscripcion.fdpn.org/">Inscripción natación</a>
                    </div>
                </li>
                @Html.Action("_PreviewAlertas")
            </ul>
            @using (Html.BeginForm("Noticias", "Noticias", FormMethod.Post))
            {
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Buscar">

            <button class="btn btn-danger btn-sm my-2 my-sm-0" type="submit">
                <span class="material-icons">
                    search
                </span>
            </button>
        </form>
            }
            </div>
    </div>
</nav>




<div class="page-header header-filter clear-filter" data-parallax="true" style="background-image: url(@path);">
    <div class="container">
        <div class="row">
            <img src="~/Content/img/Logo_fdpn.png" class="center ImagenCuarto" />
            <div class="col-md-8 ml-auto mr-auto">
                <div class="brand">
                    <h1 class="title">
                    Federación Deportiva Peruana de Natación
                    </h1>
                </div>
            </div>
        </div>
    </div>
</div>
