
@{
    string clase = ViewBag.clase;

}

<div class="layout layout--fullWidth">
    <header role="banner" class="@clase">
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                    @Html.ActionLink("Home", "index", "home", null, new { @class = "navbar-brand" })
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">

                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Nosotros <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("El directorio", "directorio", "nosotros")</li>
                                <li>@Html.ActionLink("Estatuto", "estatuto", "nosotros")</li>
                                <li role="separator" class="divider"></li>
                                <li>@Html.ActionLink("IPD", "ipd", "nosotros")</li>
                                <li>@Html.ActionLink("FINA", "fina", "nosotros") </li>
                                <li>@Html.ActionLink("UANA", "uana", "nosotros")</li>
                                <li>@Html.ActionLink("CONSANAT", "consanat", "nosotros")</li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Bases y reglamentos <span class="caret"></span></a>
                            <ul class="dropdown-menu">

                                <li>
                                    @Html.ActionLink("Reglamentos", "Reglamentos", "documentos")
                                </li>
                                <li>
                                    @Html.ActionLink("Comunicados", "comunicados", "documentos")
                                </li>
                                <li>
                                    @Html.ActionLink("Criterios de selección", "Criterios", "documentos")
                                </li>
                                <li>
                                    @Html.ActionLink("Marcas mínimas 2018", "MarcasMinimas", "documentos")
                                </li>
                                <li>
                                    @Html.ActionLink("Marcas clasificatorias a eventos internacionales", "Marcasclasificatorias", "documentos")
                                </li>
                                <li>
                                    @Html.ActionLink("Bases de torneos", "bases", "documentos")
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Resultados <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li class="nav-item">
                                    @Html.ActionLink("Resultados", "resultados", "resultados", null, new { @class = "nav-link" })
                                </li>

                                <li class="nav-item">
                                    @Html.ActionLink("Nadadores", "nadadores", "resultados", null, new { @class = "nav-link" })
                                </li>
                                <li role="separator" class="divider"></li>
                                <li class="nav-item">
                                    @Html.ActionLink("Rankings por prueba", "Rankings", "resultados", null, new { @class = "nav-link" })
                                </li>
                                <li class="nav-item">
                                    @Html.ActionLink("Rankings Puntos FINA", "RankingsFINA", "resultados", null, new { @class = "nav-link" })
                                </li>
                                <li role="separator" class="divider"></li>
                                <li class="nav-item">
                                    @Html.ActionLink("Resultados en pdf", "resultadosPDF", "documentos", null, new { @class = "nav-link" })
                                </li>
                                <li class="nav-item">
                                    @Html.ActionLink("Rankings en pdf", "RankingPDF", "documentos", null, new { @class = "nav-link" })
                                </li>
                                <li role="separator" class="divider"></li>
                                <li class="nav-item">
                                    @Html.ActionLink("En vivo", "Envivo", "documentos", null, new { @class = "nav-link" })
                                </li>
                                <li role="separator" class="divider"></li>
                                <li class="nav-item">
                                    @Html.ActionLink("Records", "records", "documentos", null, new { @class = "nav-link" })
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Documentos <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li class="nav-item">
                                    @Html.ActionLink("Noticias", "Noticias", "Noticias", null, new { @class = "nav-link" })
                                </li>
                                <li class="nav-item">
                                    @Html.ActionLink("Documentos diversos", "Documentos", "Documentos", null, new { @class = "nav-link" })
                                </li>
                                <li class="nav-item">
                                    @Html.ActionLink("Comunicados", "Comunicados", "Documentos", null, new { @class = "nav-link" })
                                </li>
                                <li>
                                    @Html.ActionLink("Criterios de selección", "Criterios", "documentos")
                                </li>
                                <li class="nav-item">
                                    @Html.ActionLink("Reglamentos", "Reglamentos", "Documentos", null, new { @class = "nav-link" })
                                </li>
                            </ul>
                        </li>

                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Transparencia <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li class="nav-item">
                                    @Html.ActionLink("Subvenciones IPD", "Subvenciones", "Documentos", null, new { @class = "nav-link" })
                                </li>
                            </ul>
                        </li>

                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Disciplinas <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li class="nav-item">
                                    @Html.ActionLink("Natación", "Index", "disciplinas", new { disciplina = 1 }, new { @class = "nav-link" })
                                </li>
                                <li class="nav-item">
                                    @Html.ActionLink("Polo acuático", "Index", "disciplinas", new { disciplina = 2 }, new { @class = "nav-link" })
                                </li>
                                <li class="nav-item">
                                    @Html.ActionLink("Aguas abiertas", "Index", "disciplinas", new { disciplina = 3 }, new { @class = "nav-link" })
                                </li>
                                <li class="nav-item">
                                    @Html.ActionLink("Natación artística", "Index", "disciplinas", new { disciplina = 4 }, new { @class = "nav-link" })
                                </li>
                                <li class="nav-item">
                                    @Html.ActionLink("Clavados", "Index", "disciplinas", new { disciplina = 5 }, new { @class = "nav-link" })
                                </li>
                                <li class="nav-item">
                                    @Html.ActionLink("Masters", "Index", "masters", new { disciplina = 6 }, new { @class = "nav-link destacado" })
                                </li>
                            </ul>
                        </li>

                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Calendario <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li class="nav-item">
                                    @Html.ActionLink("Calendarios", "Calendarios", "resultados", null, new { @class = "nav-link" })
                                </li>
                            </ul>
                        </li>

                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Afiliación <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li class="nav-item">
                                    @Html.ActionLink("Como afiliarte", "afiliarClub", "documentos", null, new { @class = "nav-link" })
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="http://afiliaciones.fdpn.org">Afiliaciones</a>
                                </li>
                            </ul>
                        </li>

                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Academia <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li class="nav-item">
                                    <a href="~/Content/img/fondos/academia159-001.jpg" target="_blank">
                                        Academia página 1
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="~/Content/img/fondos/academia159-002.jpg" target="_blank">
                                        Academia página 2
                                    </a>
                                </li>
                                @*<li class="nav-item">
                                        <a href="~/Content/img/fondos/academiaadultos.jpg" target="_blank">
                                            Academia para adultos
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="~/Content/img/fondos/academiaaquabebe.jpg" target="_blank">
                                            Academia Aqua bebé
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="~/Content/img/fondos/academianinos.jpg" target="_blank">
                                            Academia para niños
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="~/Content/img/fondos/academiapatera.jpg" target="_blank">
                                            Academia en patera
                                        </a>
                                    </li>
                                    <li role="separator" class="divider"></li>
                                    <li class="nav-item">
                                        <a href="~/Content/img/fondos/academiaTrujillo.jpg" target="_blank">
                                            Academia en Trujillo
                                        </a>
                                    </li>
                                    <li role="separator" class="divider"></li>
                                    <li class="nav-item">
                                        <a href="~/Content/img/fondos/academiasincro.jpg" target="_blank">
                                            Academia de natación artística
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="~/Content/img/fondos/academiapolo.jpg" target="_blank">
                                            Academia de polo acuático
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="~/Content/img/fondos/academiaclavados.jpg" target="_blank">
                                            Academia de clavados
                                        </a>
                                    </li>
                                    <li role="separator" class="divider"></li>
                                    <li class="nav-item">
                                        <a href="~/Content/img/fondos/piscinalibre.jpg" target="_blank">
                                            Piscina Libre
                                        </a>
                                    </li>*@
                            </ul>
                        </li>
                        @Html.Action("_PreviewAlertas")

                    </ul>



                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>

        @if (clase!= ""&& clase != null)
            {
                @Html.Partial("_Banner")
            }

    </header>
</div>
