@*@model FDPN.ViewModels.Shared.IndexViewModels*@

@{
    string titulo = ViewBag.Title;
}


<div class="site-homepage">
    @*@Html.Action("_PreviewJaked")*@

    @Html.Action("_PreviewNoticias")



    <div class="features-5" style="background-image: url('Content/imagenes/bg9.jpg')">
        <div class="col-md-8 ml-auto mr-auto text-center">
            <h2 class="title">Resultados destacados</h2>
            <p class="title">Ingresa a ver los datos históricos desde el año 2000 en adelante.</p>
        </div>
        <div class="container">
            <div class="row IgualAltura">
                <div class="col-md-6"> @Html.Action("_nadadordestacado")</div>
                <div class="col-md-6">  @Html.Action("_indexranking")</div>
            </div>

        </div>
    </div>

    @Html.Action("_PreviewCalendario")






    @Html.Action("_PreviewClubesAfiliados")
    @*@Html.Action("_PreviewEventos")*@



</div>

    @Html.Action("_Modal")
