@model FDPN.Models.Calendario

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_LayoutWYSWYG.cshtml";
}

<h2>Delete</h2>

<h3>¿Estás seguro de borrar este evento?</h3>
<div>
    <h4>Calendario</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Disciplina
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Disciplina.TipoDisciplina)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Inicio)
        </dt>

        <dd>
           @Model.Inicio.ToString("dd/MMM/yyyy")
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fin)
        </dt>

        <dd>
            @Model.Fin.ToString("dd/MMM/yyyy")
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Evento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Evento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sede)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sede)
        </dd>
       
        <dt>
           Categorías
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Observación)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Organizador)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Organizador)
        </dd>


    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            @Html.ActionLink("Regresar al listado", "Index", null, new { @class = "btn btn--primaryapnea btn--lrg u-rounded" })
        </div>
    }
</div>
