@model List<FDPN.Models.Calendario>

@{
    ViewBag.Title = "VersionImprimible";
    Layout = "~/Views/Shared/_LayoutWYSWYG.cshtml";

    string path = "~/Content/img/Imgsmall/";
    DateTime fecha = ViewBag.modificacion;
}
<div class="row">
    <div class="col-lg-10 col-lg-offset-2">
        <h2>
            <img src="~/Content/img/Logo_fdpn.png" style="width:50px;" />
            Calendario oficial de actividades <small>Actualizado al @fecha.ToShortDateString()</small>
        </h2>
    </div>
</div>


<div class="wrapper">
    <table class="tablacalendario" >
        <thead>
            <tr>
                <th>
                    Mes
                </th>

                <th>
                    Inicio
                </th>
                <th>
                    Fin
                </th>

                <th>
                    Evento
                </th>
                <th>
                    Sede
                </th>

                <th>
                    Categorías
                </th>
                <th>
                    Organizador
                </th>
                <th>
                    Disciplina
                </th>
               
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
        {
                <tr >
                    <td>                        
                        @item.Inicio.ToString("MMM")
                    </td>
                    <td>
                        @item.Inicio.ToString("dd/MM/yyyy")
                    </td>
                    <td>
                        @item.Fin.ToString("dd/MM/yyyy")
                    </td>
                    <td>
                        @item.Evento
                    </td>
                    <td>
                        @item.Sede
                    </td>
                    <td>
                        @item.Observación
                    </td>
                    <td>
                        @item.Organizador
                    </td>
                    <td>
                        @item.Disciplina.TipoDisciplina
                    </td>

                </tr>
        }
        </tbody>
    </table>

</div>

