@model List<FDPN.Models.Club>
@{
    ViewBag.Title = "Listado Clubes Afiliados";
    int anno = DateTime.Now.Year;
}

<div class="container">
    <div class="card card-plain">
        <div class="card-body">
            <h3 class="card-title">Shopping Cart</h3>
            <br />
            <div class="table-responsive">
                <table class="table table-shopping">
                    <thead>
                        <tr>
                            <th>
                                Logo
                            </th>
                            <th>
                                Club
                            </th>

                            <th>
                                Página
                            </th>
                            <th>
                                Email
                            </th>


                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                        <tr>
                            <td class="text-center">
                                @if (item.RutaLogo != null)
                                {<a href="@Url.Content("http://afiliaciones.fdpn.org/Content/Logos/" + item.RutaLogo + ".jpg")" target="_blank">
                                        <img src=@Url.Content("http://afiliaciones.fdpn.org/Content/Logos/" + item.RutaLogo + ".jpg")
                                             class="MiniLogo" />
                                    </a>
                                }
                            </td>
                            <td>
                                @item.NombreClub.ToUpper()

                            </td>
                            <td>
                                <a href="@item.Paginaweb" target="_blank">@item.Paginaweb</a>
                            </td>
                            <td>
                                @item.EMailOficial
                            </td>                          
                        </tr>
                         
                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

