@model InscripcionACurso.ViewModels.Inscripcion.ViewModelBuscarDNI
@{
    ViewBag.Title = "CreateParaAfiliados";
    int cursoid = Model.curso.CursoId;
}




<div class="row default-style">
    <div id="left-block" class="col-md-6 col-sm-12 left-block">
        <div class="left-content">
            <h1>Federación Deportiva Peruana de Natación</h1>
            <img src="~/Content/images/Logo_fdpn.png" style="height:100px;" />
            <h3>Inscripción en </h3>
            <h2> @Model.curso.Nombre</h2>
            <div class="row">
                <div class="col-sm-offset-1 col-sm-11">
                    <dl class="dl-horizontal">
                        <dt><i class="fas fa-book"></i>Cierre de inscripciones</dt>
                        <dd> @Model.curso.Fin.ToString("dd MMMM yyyy hh:mm")</dd>
                        <dt><i class="fas fa-calendar-alt"></i>Fecha de incio</dt>
                        <dd>@Model.curso.Inicio.ToString("dd MMMM yyyy")</dd>
                        <dt><i class="fas fa-home"></i>Dirección</dt>
                        <dd>@Model.curso.Direccion @Model.curso.Ciudad</dd>
                    </dl>
                </div>
            </div>
        </div>
        <!-- /.left-content -->
    </div>
    <!-- /.left-block -->



        <div id="right-block" class="col-md-6 col-sm-12 right-block">
            <div class="right-content">
                <h2>Ingrese su DNI</h2>
                <p>Este evento es solo para deportistas afiliados a la FDPN, también para entrenadores inscritos en nuestra web de afiliaciones .</p>
                <br>

                <div class="row">
                   
                    @using (Html.BeginForm("VerificarSiExisteDNI", "inscripcion", FormMethod.Post))
                    {
                        @Html.HiddenFor(model=>cursoid)
                        <div class="form-group  col-sm-6">
                            @Html.TextBoxFor(model => model.DNI)
                        </div>
                        <div class="form-group  col-sm-6">
                            <button type="submit" class="btn btn-danger">BUSCAR POR DNI</button>
                            @*@Html.ActionLink("Buscar DNI", "VerificarSiExisteDNI", "inscripcion", new { DNI = Model.DNI, cursoid = Model.curso.CursoId }, new { @class = "btn btn-primary" })*@
                        </div>
                    }
                </div>
                    <p class="followus">Síguenos en</p>
                    <ul class="social-icon">
                        <li><a href="http://fdpn.org/" data-toggle="tooltip" title="¡Visita nuestra página!"><i class="fa fa-box-open"></i></a></li>
                        <li><a href="https://www.facebook.com/FederacionNatacion/" data-toggle="tooltip" title="¡Síguenos en Facebook!"><i class="fab fa-facebook-f"></i></a></li>
                    </ul>
                </div>
                <!-- /.right-content -->
            </div>
            <!-- ./right-block -->
        </div>


