@model FDPN.ViewModels.Administrador.EditarCalendarioViewModel

@{
    ViewBag.Title = "editar Calendario";

    Layout = "~/Views/Shared/_LayoutWYSWYG.cshtml";
}

<h2>Editar Calendario</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Calendario</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.calendario.Disciplina, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.calendario.Disciplina, new SelectList(Model.disciplinas, "DisciplinaId", "TipoDisciplina"), "Escoja una disciplina", new { @class = "form-control" })


                @Html.ValidationMessageFor(model => model.calendario.Disciplina, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.calendario.Inicio, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.calendario.Inicio, new { htmlAttributes = new { @class = "form-control datefield" } })
                @Html.ValidationMessageFor(model => model.calendario.Inicio, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.calendario.Fin, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.calendario.Fin, new { htmlAttributes = new { @class = "form-control datefield" } })
                @Html.ValidationMessageFor(model => model.calendario.Fin, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.calendario.Evento, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.calendario.Evento, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.calendario.Evento, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.calendario.Sede, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.calendario.Sede, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.calendario.Sede, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.calendario.Carácter, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.calendario.Carácter, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.calendario.Carácter, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.calendario.Observación, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.calendario.Observación, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.calendario.Observación, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.calendario.Organizador, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.calendario.Organizador, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.calendario.Organizador, "", new { @class = "text-danger" })
            </div>
        </div>

        @Html.HiddenFor(model => model.calendario.EventoId)


        <div class="form-group">
            <div class="col-md-offset-4 col-md-8">
                <div>
                    @Html.ActionLink("Regresar", "Index", null, new { @class= "btn btn-danger" })
                </div>
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </div>
    </div>
}

<script>
 

</script>