@model List<FDPN.Models.Vivo>
@{
    ViewBag.Title = "index";
    Layout = "~/Views/Shared/_LayoutWYSWYG.cshtml";
    string path = Url.Content("../Content/img/Fotos/");
   
}
<div class="cuerpoconmargen">
    <div class="col-lg-12 text-center panel-heading panel-head">
        <h2 class="section-heading">Administrador de Resultados en Vivo</h2>
        <div class="row">
            <div class="col-lg-6">
                <section class="site-news site-homepage__pushup u-bg">
                    <div class="wrapper site-athleteswidget__info">
                        <div class="site-news__visual u-animation--fadeInSection" data-wow-duration="700ms" data-wow-delay="100ms">
                            @Html.ActionLink("Ingresar nuevo torneo", "IngresoEnVivo", "administrador", null, new { @class = "btn btn-primary" })
                        </div>
                    </div>
                </section>

            </div>
            <div class="col-lg-6">
                @using (Html.BeginForm())
                {
                    <header class="site-homepage__section__header">
                        <h4 class="section-heading">Buscar en la página</h4>
                        @Html.TextBox("SearchString", null, new { @class = "btn btn--primaryapnea btn--lrg u-rounded" })
                        <input type="submit" value="Buscar" class="btn btn--primaryapnea btn--lrg u-rounded" />
                    </header>
                }
            </div>
        </div>
    </div>


    <div class="row">
        @*Noticia*@
        <section class="site-contentpage site-homepage__pushup">
            <br />
            <p class="u-type--gamma">

                <table class="tablaNormal datatablaReves">
                    <thead>
                        <tr>
                            <th>
                                Fecha
                            </th>
                            <th>
                                Torneo
                            </th>
                            <th>
                                Directorio
                            </th>

                            <th>
                                <i class="fa fa-download" aria-hidden="true"></i> Acción
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                    {

                        <tr>
                            <td>
                                @item.Fecha.ToString("yyyy/MM/dd")
                            </td>
                            <td>
                                @item.Nombre
                            </td>
                            <td>

                                @item.Directorio
                            </td>

                            <td>
                                <div class="btn-group">
                                    <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Action <span class="caret"></span>
                                    </button>
                                    @*<ul class="dropdown-menu">
                    <li>@Html.ActionLink("Borrar", "Borrar", "administrador", new { @id = item.VivoId }, null)</li>
                </ul>*@
                                </div>
                            </td>
                        </tr>
                }
                    </tbody>
                </table>
            </p>

            <div class="espaciado"></div>
            <hr />
        </section>

    </div>
</div>
