@model List<FDPN.Models.RESULTS>




<div class="row">
    <div class="col-md-8 ml-auto mr-auto">
        <h2 class="title">Tabla de rankings por puntos FINA</h2>
    </div>
</div>
<div class="container">
    @*El resto del ranking*@
    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>Puntos</th>
                <th>Nombre</th>
                <th>Tiempo</th>
                <th>Prueba</th>
                <th>Fecha</th>
                <th>Torneo</th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.Count(); i++)
            {
                <tr>

                    <td>@(i + 1)</td>
                    <td class="weak">@Model[i].PFina</td>
                    <td>
                        @Html.ActionLink(Model[i].Athlete1.First, "Nadador", "Resultados", new { id = Model[i].AthleteId }, new { @class = "ranking1detalle" })
                        @Html.ActionLink(Model[i].Athlete1.Last, "Nadador", "Resultados", new { @id = Model[i].AthleteId }, new { @class = "ranking1detalle" })

                    </td>
                    <td>@Model[i].STROKE  @Model[i].DISTANCE</td>
                    <td>@Model[i].SCORE</td>

                    <td class="weak">@Model[i].Meet1.Start.ToString("dd/MMM/yyyy")</td>
                    <td class="weak">@Model[i].Meet1.MName</td>
                </tr>
            }
        </tbody>
    </table>

</div>

<script>
    $(document).ready(function () {
        $('.datatabla').DataTable({
            "order": [[1, "desc"]]
             "pageLength": 50
        });
    });
</script>