@model List<FDPN.Models.RESULTS>


<section>
    <div class="wrapper site-homepage__pushup">
        <header class="site-homepage__section__header">
           
            <code>Tabla de rankings por puntos FINA</code>
        </header>
    </div>
</section>
        @*El resto del ranking*@
       <table class="tablaNormal datatabla">
    <thead>
        <tr>
            <th>#</th>
            <th>Puntos</th>
            <th>Nombre</th>
            <th>Tiempo</th>
            <th>Prueba</th>
            <th>Fecha</th>
            <th>Torneo</th>
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < Model.Count(); i++)
        {
            <tr>
              
                <td>@(i + 1)</td>
                <td class="weak">@Model[i].PFina</td>
                <td>
                    @Html.ActionLink(Model[i].Athlete1.First, "Nadador", "Resultados", new { id = Model[i].AthleteId }, new { @class = "ranking1detalle" })
                    @Html.ActionLink(Model[i].Athlete1.Last, "Nadador", "Resultados", new { @id = Model[i].AthleteId }, new { @class = "ranking1detalle" })

                </td>
                <td>@Model[i].STROKE  @Model[i].DISTANCE</td>
                <td>@Model[i].SCORE</td>

                <td class="weak">@Model[i].MEET1.Start.ToShortDateString()</td>
                <td class="weak">@Model[i].MEET1.MName</td>
            </tr>
        }
    </tbody>
</table>



<script>   
    $(document).ready(function () {
        $('.datatabla').DataTable({
            "order": [[1, "desc"]]
             "pageLength": 50
        });
    });
</script>