@model FDPN.ViewModels.Resultados.CalendarioViewModel

@{
    ViewBag.Title = "Calendarios";
    //Layout = "~/Views/Shared/_LayoutAnimo.cshtml";
    string path = "~/Content/img/Imgsmall/";
}

<div class="row">
    <div class="col-md-10 ml-auto mr-auto">
        <div class="row">


            <div class="name">
                <h2 class="title">Calendario anual</h2>

                @using (Html.BeginForm("Calendarios", "Resultados", FormMethod.Post))
                {
                    @Html.DropDownListFor(model => model.disciplina, new SelectList(Model.disciplinas, "DisciplinaID", "TipoDisciplina"), "Filtre por disciplina", new { @class = "dropdown form-control", title = "Disciplina", @onchange = "submitform();" })
                }

            </div>
        </div>
        <div class="row">

            @Html.ActionLink("Masters", "PrintCalendario", "Calendarios", new { disciplina = 6, target = "_blank" }, new { @class = "btn btn-primary" })

            @Html.ActionLink("Polo Acuático", "PrintCalendario", "Calendarios", new { disciplina = 2, target = "_blank" }, new { @class = "btn btn-primary" })

            @Html.ActionLink("Natación Artística", "PrintCalendario", "Calendarios", new { disciplina = 3, target = "_blank" }, new { @class = "btn btn-primary" })

            @Html.ActionLink("Aguas Abiertas", "PrintCalendario", "Calendarios", new { disciplina = 5, target = "_blank" }, new { @class = "btn btn-primary" })

            @Html.ActionLink("Clavados", "PrintCalendario", "Calendarios", new { disciplina = 4, target = "_blank" }, new { @class = "btn btn-primary" })

            @Html.ActionLink("Natación", "PrintCalendario", "Calendarios", new { disciplina = 1, target = "_blank" }, new { @class = "btn btn-primary" })

            @Html.ActionLink("Consolidado", "PrintCalendario", "Calendarios", new { disciplina = 7, target = "_blank" }, new { @class = "btn btn-primary" })

        </div>
    </div>
</div>
<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th>Inicio</th>
                <th>Fin</th>
                <th>Evento</th>
                <th>Sede</th>
                <th>Categorías</th>
                <th>Organizador</th>
                <th>Disciplina</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.calendario)
            {
                <tr>
                    <td>@item.Inicio.ToString("dd/MM/yyyy")</td>
                    <td>@item.Fin.ToString("dd/MM/yyyy")</td>
                    <td>@item.Evento</td>
                    <td>@item.Sede</td>
                    <td>@item.Observación</td>
                    <td>@item.Organizador</td>
                    <td>@item.Disciplina.TipoDisciplina</td>
                </tr>
            }
        </tbody>
    </table>
    <div class="espaciadogrande"></div>
</div>


<script>
    function submitform() {
        $('form').submit();
    }
</script>