@model FDPN.ViewModels.Resultados.DetalleNadadorViewModel


@{
    ViewBag.Title = "Detalle nadador";
    string path = "http://afiliaciones.fdpn.org/Content/Images";
}


<div class="row">
    <div class="col-md-10 ml-auto mr-auto">
        <div class="row">
            <div class="col-md-4">
                <div class="profile">
                    <img src=@Url.Content(path + "/" + Model.Inscripciones.RutaFoto + ".jpg") alt="No tiene foto" class="img-raised  img-fluid imagenperfil">
                </div>
            </div>
            <div class="col-md-8">
                <div class="name">
                    <h2 class="title">@Model.nadador.First.ToUpper() @Model.nadador.Last.ToUpper()</h2>
                    <h4 class="title">@Model.nadador.Age años</h4>
                    <p class="title">Código: @Model.Inscripciones.DNI</p>
                    <p class="title">Afiliado a: @Model.Inscripciones.Club.NombreClub</p>
                </div>
            </div>
        </div>

    </div>
</div>

<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th>Prueba</th>
                <th>Piscina larga</th>
                <th>Piscina corta</th>
                <th>Últimos doce meses en larga</th>
                <th>Últimos doce meses en corta</th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Mejorestiempos)
            {
                <tr>
                    <td>
                        <a href="@Url.Action("RendimientoDelNadadorEnUnaPrueba", "Resultados", new { athleteid = Model.nadador.AthleteId, pruebaid = item.Key.PruebaId })"
                           data-toggle="tooltip" data-placement="top" title="" data-container="body" data-original-title="Vea el rendimiento de esta prueba">
                            @item.Key.distancia.ToString() @item.Key.estilo.ToString()

                        </a>

                    </td>
                    <td>
                        <a href="@Url.Action("ResultadoDelNadadorEnUnTorneo", "Resultados", new { @MeetId = item.Value.Mejortiempolarga.MeetId, athleteid = item.Value.Mejortiempolarga.AthleteId })"
                           data-toggle="tooltip" data-placement="top" title="" data-container="body" data-original-title="Detalles del torneo">
                            @item.Value.Mejortiempolarga.SCORE
                        </a>
                    </td>
                    <td>
                        <a href="@Url.Action("ResultadoDelNadadorEnUnTorneo", "Resultados", new { @MeetId = item.Value.Mejortiempocorta.MeetId, athleteid = item.Value.Mejortiempocorta.AthleteId })"
                           data-toggle="tooltip" data-placement="top" title="" data-container="body" data-original-title="Detalles del torneo">
                            @item.Value.Mejortiempocorta.SCORE
                        </a>
                    </td>
                    <td>
                        <a href="@Url.Action("ResultadoDelNadadorEnUnTorneo", "Resultados", new { @MeetId = item.Value.Ultimoannolarga.MeetId, athleteid = item.Value.Ultimoannolarga.AthleteId })"
                           data-toggle="tooltip" data-placement="top" title="" data-container="body" data-original-title="Detalles del torneo">
                            @item.Value.Ultimoannolarga.SCORE
                        </a>
                    </td>
                    <td>
                        <a href="@Url.Action("ResultadoDelNadadorEnUnTorneo", "Resultados", new { @MeetId = item.Value.Ultimoannocorta.MeetId, athleteid = item.Value.Ultimoannocorta.AthleteId })"
                           data-toggle="tooltip" data-placement="top" title="" data-container="body" data-original-title="Detalles del torneo">
                            @item.Value.Ultimoannocorta.SCORE
                        </a>
                    </td>
                </tr>
            }


        </tbody>
    </table>
    <div class="espaciado"></div>
    <table class="table">
        <thead>
            <tr>
                <th>Prueba</th>
                <th>Año @Model.Annos[0]</th>
                <th>Año @Model.Annos[1]</th>
                <th>Año @Model.Annos[2]</th>
                <th>Año @Model.Annos[3]</th>
                <th>Año @Model.Annos[4]</th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.MejorPorAnnoLarga)
            {
                <tr>
                    <td>@Html.ActionLink(@item.Key.distancia.ToString() + " " + @item.Key.estilo.ToString(), "RendimientoDelNadadorEnUnaPrueba", "Resultados", new { athleteid = Model.nadador.AthleteId, pruebaid = item.Key.PruebaId }, null)</td>
                    <td>@Html.ActionLink(item.Value.uno.SCORE, "ResultadoDelNadadorEnUnTorneo", "Resultados", new { @MeetId = item.Value.uno.MeetId, athleteid = item.Value.uno.AthleteId }, null) </td>
                    <td>@Html.ActionLink(item.Value.dos.SCORE, "ResultadoDelNadadorEnUnTorneo", "Resultados", new { @MeetId = item.Value.dos.MeetId, athleteid = item.Value.dos.AthleteId }, null) </td>
                    <td>@Html.ActionLink(item.Value.tres.SCORE, "ResultadoDelNadadorEnUnTorneo", "Resultados", new { @MeetId = item.Value.tres.MeetId, athleteid = item.Value.tres.AthleteId }, null) </td>
                    <td>@Html.ActionLink(item.Value.cuatro.SCORE, "ResultadoDelNadadorEnUnTorneo", "Resultados", new { @MeetId = item.Value.cuatro.MeetId, athleteid = item.Value.cuatro.AthleteId }, null) </td>
                    <td>@Html.ActionLink(item.Value.cinco.SCORE, "ResultadoDelNadadorEnUnTorneo", "Resultados", new { @MeetId = item.Value.cinco.MeetId, athleteid = item.Value.cinco.AthleteId }, null) </td>

                </tr>
            }


        </tbody>
    </table>
    <div class="espaciado"></div>
    <table class="table">
        <thead>
            <tr>
                <th>Prueba</th>
                <th>Año @Model.Annos[0]</th>
                <th>Año @Model.Annos[1]</th>
                <th>Año @Model.Annos[2]</th>
                <th>Año @Model.Annos[3]</th>
                <th>Año @Model.Annos[4]</th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.MejorPorAnnoCorta)
            {
                <tr>
                    <td>@Html.ActionLink(@item.Key.distancia.ToString() + " " + @item.Key.estilo.ToString(), "RendimientoDelNadadorEnUnaPrueba", "Resultados", new { athleteid = Model.nadador.AthleteId, pruebaid = item.Key.PruebaId }, null)</td>
                    <td>@Html.ActionLink(item.Value.uno.SCORE, "ResultadoDelNadadorEnUnTorneo", "Resultados", new { @MeetId = item.Value.uno.MeetId, athleteid = item.Value.uno.AthleteId }, null) </td>
                    <td>@Html.ActionLink(item.Value.dos.SCORE, "ResultadoDelNadadorEnUnTorneo", "Resultados", new { @MeetId = item.Value.dos.MeetId, athleteid = item.Value.dos.AthleteId }, null) </td>
                    <td>@Html.ActionLink(item.Value.tres.SCORE, "ResultadoDelNadadorEnUnTorneo", "Resultados", new { @MeetId = item.Value.tres.MeetId, athleteid = item.Value.tres.AthleteId }, null) </td>
                    <td>@Html.ActionLink(item.Value.cuatro.SCORE, "ResultadoDelNadadorEnUnTorneo", "Resultados", new { @MeetId = item.Value.cuatro.MeetId, athleteid = item.Value.cuatro.AthleteId }, null) </td>
                    <td>@Html.ActionLink(item.Value.cinco.SCORE, "ResultadoDelNadadorEnUnTorneo", "Resultados", new { @MeetId = item.Value.cinco.MeetId, athleteid = item.Value.cinco.AthleteId }, null) </td>

                </tr>
            }


        </tbody>
    </table>
    <div class="espaciado"></div>







    <div class="espaciadogrande"></div>

    <table class="table">
        <tbody>
            @foreach (var item in Model.UltimasParticipaciones)
            {
                <tr>
                    <td>@Html.ActionLink(item.Meet1.MName, "ResultadoDelNadadorEnUnTorneo", "Resultados", new { @MeetId = item.MeetId, athleteid = item.AthleteId }, null)</td>
                    <td>@item.Meet1.Start.ToString("dd/MMM/yyyy")</td>
                    <td class="weak">@item.Team1.TName</td>
                </tr>
            }
        </tbody>
    </table>

</div>

