
@*@model PagedList.IPagedList<FDPN.Models.Athlete>*@

@model List<FDPN.Models.Athlete>

@using PagedList.Mvc;


<div class="row">
    <div class="col-md-8 ml-auto mr-auto">
        <h2 class="title">Nadadores</h2>


        <div class="card card-plain card-form-horizontal">
            <div class="card-body">
                @using (Html.BeginForm())
                {
                    <div class="row">
                        <div class="col-md-4">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <i class="material-icons">search</i>
                                    </span>
                                </div>
                                @Html.TextBox("searchString", null, new { @class = "form-control mr-sm-2" })
                            </div>
                        </div>
                        <div class="col-md-4">
                            <button type="submit" class="btn btn-primary ">Buscar</button>
                        </div>
                        <div class="col-md-4">
                            <p class="description">
                                Busca a un deportista para observar sus resultados.
                            </p>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>




<div class="section section-text">
    <div class="row">
        <div class="col-md-10 ml-auto mr-auto">
            <table class="table datatabla">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>Edad</th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td><a href="@Url.Action("nadador", "resultados", new { id = item.AthleteId })">@item.First</a> </td>
                            <td><a href="@Url.Action("nadador", "resultados", new { id = item.AthleteId })">@item.Last</a> </td>
                            <td><a href="@Url.Action("nadador", "resultados", new { id = item.AthleteId })">@item.Age</a> </td>
                        </tr>
                    }

                </tbody>
            </table>
            <br />
            @*Página @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) de @Model.PageCount

            @Html.PagedListPager(Model, page => Url.Action("Nadadores",
                new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))*@
        </div>

    </div>
</div>


