@model FDPN.ViewModels.Resultados.RankingFInaViewModel

@{
    ViewBag.Title = "Rankings por puntos FINA";

}

<section>
    <div class="wrapper site-homepage__pushup">
        <header class="site-homepage__section__header">
            <h2 class="site-title site-title--ultra site-title--ultra--primary">Rankings por puntos FINA</h2>
        </header>

    </div>
</section>


@*@using (Html.BeginForm("Rankings", "Resultados", FormMethod.Post))
    {*@

<div class="container">
    <div class="row">
        <div class="col-md-5">
            @*Aqui esta el problema*@
            <h6 class="control-label col-md-6 btn--ghost espaciado">Periodo a buscar</h6>
            <div class="col-md-6 espaciado">
                @Html.DropDownListFor(model => model.periodoid, new SelectList(Model.periodo, "Key", "Value"), "Escoja el periodo", new { @class = "js-calendarFilter js-selectEventType input input--select input--med" })
            </div>



            <h6 class="control-label col-md-6 btn--ghost espaciado">Edad mínima</h6>
            <div class="col-md-6 espaciado">
                @Html.DropDownListFor(model => model.edadminima, new SelectList(Model.edadesminimas), "Escoja la edad inicial", new { @class = "js-calendarFilter js-selectEventType input input--select input--med" })
            </div>



            <h6 class="control-label col-md-6 btn--ghost espaciado">Edad máxima</h6>
            <div class="col-md-6 espaciado">
                @Html.DropDownListFor(model => model.edadmaxima, new SelectList(Model.edadesmaximas), "Escoja la edad final", new { @class = "js-calendarFilter js-selectEventType input input--select input--med" })
            </div>


            <h6 class="control-label col-md-6 btn--ghost espaciado">Sexo</h6>
            <div class="col-md-6 espaciado">
                @Html.DropDownListFor(model => model.Sexo, new SelectList(Model.Sexos, "Key", "Value"), "Escoja el sexo", new { @class = "js-calendarFilter js-selectEventType input input--select input--med" })
            </div>



            <center>
                <input id="buscarRankingFINA" type="submit" class="btn btn--primaryapnea btn--lrg u-rounded" value="Ver ranking">
            </center>

        </div>
        <div class="col-md-7">


            <div id="tablaDeshabilitada">
                @*Torneos*@
                <table class="tablaNormal  datatablacorta">
                    <thead>
                        <tr>
                            <th>Código</th>
                            <th>Torneo</th>
                            <th>Fecha</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.torneos)
                        {
                            <tr>
                                <td>@item.MeetId</td>
                                <td>@item.MName</td>
                                <td>
                                    @item.Start.ToString("dd/MMM/yyyy")
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        </div>

        <div class="col-md-12">
            <div id="rankingPuntoFINA">

            </div>
        </div>
    </div>
@*<div class="espaciadogrande"></div>*@



@*}*@

