
@model FDPN.ViewModels.Resultados.RankingFInaViewModel

@{
    ViewBag.Title = "Rankings por puntos FINA";

}



<div class="container">
    <!--     *********     FEATURES 1      *********      -->

    <div class="row">
        <div class="col-md-8 ml-auto mr-auto">
            <h2 class="title">Rankings por puntos FINA</h2>

        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="row">
                <div class="col-sm-6">
                    <div class="info">
                        <h4 class="info-title">
                            Periodo
                        </h4>
                        @Html.DropDownListFor(model => model.periodoid, new SelectList(Model.periodo, "Key", "Value"), "Escoja el periodo", new { @class = "dropdown form-control" })

                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="info">
                        <h4 class="info-title">
                            Piscina
                        </h4>
                        @Html.DropDownListFor(model => model.piscina, new SelectList(Model.Piscinas), "Escoja la piscina", new { @class = "dropdown form-control", title = "Piscina" })

                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="info">
                        <h4 class="info-title">
                            Edad mínima
                        </h4>
                        @Html.DropDownListFor(model => model.edadminima, new SelectList(Model.edadesminimas), "Escoja la edad inicial", new { @class = "dropdown form-control" })

                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="info">
                        <h4 class="info-title">
                            Edad máxima
                        </h4>
                        @Html.DropDownListFor(model => model.edadmaxima, new SelectList(Model.edadesmaximas), "Escoja la edad final", new { @class = "dropdown form-control" })

                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="info">
                        <h4 class="info-title">
                            Sexo
                        </h4>
                        @Html.DropDownListFor(model => model.Sexo, new SelectList(Model.Sexos, "Key", "Value"), "Escoja el sexo", new { @class = "dropdown form-control" })

                    </div>
                </div>


                <div class="col-sm-6">
                    <div class="info">
                        <input type="submit" class="btn btn-primary" value="Ver ranking" id="buscarRankingFINA">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div id="tablaDeshabilitada">

                <table class="table datatablacorta">
                    <thead>
                        <tr>
                            <th>Código</th>
                            <th>Piscina</th>
                            <th>Torneo</th>
                            <th>Fecha</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.torneos)
                        {
                            <tr>
                                <td>@item.MeetId</td>
                                <td>@item.Course</td>
                                <td>@item.MName</td>
                                <td>
                                    @item.Start.ToString("dd/MMM/yyyy")
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>

        </div>

        <div class="col-md-12">
            <div id="rankingPuntoFINA">

            </div>
        </div>
    </div>

</div>



