@model FDPN.ViewModels.Resultados.RankingViewModel

@{
    ViewBag.Title = "Rankings";

}

@using (Html.BeginForm("Rankings", "Resultados", FormMethod.Post))
{

<div class="container">
    <!--     *********     FEATURES 1      *********      -->

    <div class="row">
        <div class="col-md-8 ml-auto mr-auto">
            <h2 class="title">Rankings</h2>
            <h5 class="description"> @Model.distancia m estilo @Model.estilo en piscina @Model.piscina </h5>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3"">
            <div class="info">
                <h4 class="info-title">
                    Distancia
                </h4>
                @Html.DropDownListFor(model => model.distancia, new SelectList(Model.distancias), "Escoja la distancia", new { @class = "dropdown form-control", title = "Distancia" })

            </div>
        </div>
        <div class="col-sm-3"">
            <div class="info">
                <h4 class="info-title">
                    Estilo
                </h4>
                @Html.DropDownListFor(model => model.estilo, new SelectList(Model.Estilos), "Escoja el estilo", new { @class = "dropdown form-control", title = "Distancia" })

            </div>
        </div>
        <div class="col-sm-3"">
            <div class="info">
                <h4 class="info-title">
                    Piscina
                </h4>
                @Html.DropDownListFor(model => model.piscina, new SelectList(Model.piscinas, "Key", "Value"), "Escoja la piscina", new { @class = "dropdown form-control", title = "Distancia" })

            </div>
        </div>
        <div class="col-sm-3"">
            <div class="info">
                <h4 class="info-title">
                    Sexo
                </h4>
                @Html.DropDownListFor(model => model.Sexo, new SelectList(Model.Sexo, "Key", "Value"), "Escoja el sexo", new { @class = "dropdown form-control", title = "Distancia" })

            </div>
        </div>
        <div class="col-sm-3"">
            <div class="info">
                <h4 class="info-title">
                    Periodo
                </h4>
                @Html.DropDownListFor(model => model.Periodo, new SelectList(Model.Periodo), "Periodo a filtrar", new { @class = "dropdown form-control", title = "Distancia" })

            </div>
        </div>
        <div class="col-sm-3"">
            <div class="info">
                <h4 class="info-title">
                    Edad mínima
                </h4>
                @Html.DropDownListFor(model => model.edadminima, new SelectList(Model.edadminima), "Escoja la distancia", new { @class = "dropdown form-control", title = "Distancia" })

            </div>
        </div>
        <div class="col-sm-3"">
            <div class="info">
                <h4 class="info-title">
                    Edad máxima
                </h4>
                @Html.DropDownListFor(model => model.edadminima, new SelectList(Model.edadmaxima), "Escoja la distancia", new { @class = "dropdown form-control", title = "Distancia" })

            </div>
        </div>
        <div class="col-sm-3"">
            <div class="info">
                <input type="submit" class="btn btn-primary" value="Ver ranking">
            </div>
        </div>
    </div>
     
</div>

   
    }

<div class="container">

    
            @if (Model.resultados.Count() > 0)
            {
                <table class="table">
                    <tbody>
                        @for (int i = 0; i < Model.resultados.Count(); i++)
                        {
                            <tr>
                                <td>@(i + 1)</td>
                                <td>
                                    @Html.ActionLink(Model.resultados[i].Athlete1.First, "Nadador", "Resultados", new { id = Model.resultados[i].AthleteId }, new { @class = "ranking1detalle" })
                                    @Html.ActionLink(Model.resultados[i].Athlete1.Last, "Nadador", "Resultados", new { @id = Model.resultados[i].AthleteId }, new { @class = "ranking1detalle" })

                                </td>
                                <td>
                                    @Model.resultados[i].SCORE

                                </td>
                                @if (Model.resultados[i].I_R == "L")
                                {
                                    <td>Posta</td>
                                }
                                else
                                {
                                    <td></td>
                                }
                                <td class="weak">@Model.resultados[i].MEET1.Start.ToString("dd/MMM/yyyy")</td>
                                <td>@Model.resultados[i].MEET1.MName</td>
                                <td>@Model.resultados[i].Athlete1.Age</td>
                            </tr>
                        }
                    </tbody>
                </table>



            }
            else
            {
                <p class="u-type--medium u-type--delta u-spc-bottom--med"> No obtuve resultados </p>
            }
        </div>
   
    <br />

    <div class=" row">
        <div class="col-lg-1 col-lg-offset-11">
            <button id="descargarranking" class="btn btn-outline-secondary"> Descargar</button>
        </div>
    </div>
