@model FDPN.ViewModels.Resultados.RendimientoDeUnaPruebaViewModel

@{
    ViewBag.Title = "Rendimiento en una prueba";
    string path = "http://afiliaciones.fdpn.org/Content/Images";
}

<div class="row">
    <div class="col-md-10 ml-auto mr-auto">
        <div class="row">
            <div class="col-md-4">
                <div class="profile">
                    <img src=@Url.Content(path + "/" + Model.Inscripciones.RutaFoto + ".jpg") alt="No tiene foto" class="img-raised  img-fluid imagenperfil">
                </div>
            </div>
            <div class="col-md-8">
                <div class="name">
                    <h2 class="title">Rendimiento en una prueba</h2>
                    <h4 class="title">@Model.atleta.First.ToUpper() @Model.atleta.Last.ToUpper()</h4>
                    <p class="title">Prueba: @Model.prueba.distancia  @Model.prueba.estilo Piscina Larga</p>
                </div>
            </div>
        </div>

    </div>
</div>



<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th>Tiempo</th>
                <th>Prueba</th>
                <th>Torneo</th>
                <th>Fecha</th>
                <th>Equipo</th>
                <th>Piscina</th>
                <th>Puntos</th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.ResultadosLarga)
            {
                <tr>
                    <td>@item.SCORE</td>
                    <td>@item.DISTANCE  @item.STROKE</td>
                    <td>@item.MEET1.MName</td>
                    <td>@item.MEET1.Start.ToString("dd/MMM/yyyy")</td>
                    <td>@item.TEAM1.TName</td>
                    <td>@item.COURSE</td>
                    <td>@item.PFina</td>
                </tr>
            }
        </tbody>
    </table>


    <div class="row">
        <div class="col-md-10 ml-auto mr-auto">
            <div class="row">
              
                <div class="col-md-12">
                    <div class="name">                       
                        <p class="title">Prueba: @Model.prueba.distancia  @Model.prueba.estilo Piscina Corta</p>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>
<div class="espaciado"></div>
<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th>Tiempo</th>
                <th>Prueba</th>
                <th>Torneo</th>
                <th>Fecha</th>
                <th>Equipo</th>
                <th>Piscina</th>
                <th>Puntos</th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.ResultadosCorta)
            {
                <tr>
                    <td>@item.SCORE</td>
                    <td>@item.DISTANCE  @item.STROKE</td>
                    <td>@item.MEET1.MName</td>
                    <td>@item.MEET1.Start.ToString("dd/MMM/yyyy")</td>
                    <td>@item.TEAM1.TName</td>
                    <td>@item.COURSE</td>
                    <td>@item.PFina</td>
                </tr>
            }
        </tbody>
    </table>




</div>

<div class="espaciadogrande"></div>
<div class="col-md-10 ml-auto mr-auto">
    @Html.ActionLink("Listado de nadadores", "Nadadores", "Resultados", null, new { @class = "btn btn-primary" })

</div>
<div class="espaciadogrande"></div>
