@model PagedList.IPagedList<FDPN.Models.MEET>

@using PagedList.Mvc;

<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{
    ViewBag.Title = "Resultados";
}

<div class="container">
    <div class="row">
        <div class="col-md-8 ml-auto mr-auto">

            <h2 class="title">Resultados <small>- Listado de torneos disponibles</small></h2>

            <div class="card card-plain card-form-horizontal">
                <div class="card-body">
                    @using (Html.BeginForm())
                    {
                        <div class="row">
                            <div class="col-md-4">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="material-icons">search</i>
                                        </span>
                                    </div>
                                    @Html.TextBox("searchString", null, new { @class = "form-control mr-sm-2", placeholder = "Buscar por palabras claves" })
                                </div>
                            </div>
                            <div class="col-md-4">
                                <button type="submit" class="btn btn-primary btn-round btn-block">Buscar</button>
                            </div>
                            <div class="col-md-4">
                                <p class="description">
                                    Busca un torneo.
                                </p>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>




    <div class="table">
        <table class="table table-striped">
            <tr>
                <th>
                    @Html.ActionLink("Torneo", "Resultados", new { sortOrder = ViewBag.NameSortParm })
                </th>

                <th>
                    @Html.ActionLink("Fecha", "Resultados", new { sortOrder = ViewBag.DateSortParm })
                </th>
                <th>
                    Tipo de Piscina
                </th>

            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.ActionLink(@item.MName, "ResultadosDeUnTorneo", "Resultados", new { @meetid = item.MeetId }, null)

                    </td>
                    <td>
                        @item.Start.ToString("dd/MM/yyyy")
                    </td>
                    @if (item.Course == "L")
                    {
                        <td>Larga</td>
                    }
                    else
                    {
                        <td>Corta</td>
                    }

                </tr>
            }

        </table>
        <br />
        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

        @Html.PagedListPager(Model, page => Url.Action("Resultados",
         new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))


    </div>

</div>