@model FDPN.ViewModels.Resultados.ResultadoDeUnTorneoViewModel
@{
    ViewBag.Title = "Resultados De Un Torneo";
}


<div class="container">

    <div class="row">
        <div class="col-md-6 ml-auto mr-auto">

            <h2 class="title">Resultados del torneo</h2>
            @if (@Model.resultadoFinales.Count > 0)
            {
                <h4 class="title">@Model.resultadoFinales[0].Meet1.MName</h4>
            }
            else
            {
                <h4 class="title">Este torneo no tiene resultados aún</h4>
            }

        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="card card-pricing card-raised">
                <div class="card-body ">
                    <h4 class="card-title">Clubes participantes</h4>
                    <div class="icon icon-primary">
                        <i class="material-icons">account_balance</i>
                    </div>
                    @using (Html.BeginForm("ResultadoPorClubes", "Resultados", FormMethod.Post))
                    {
                      
                <div class="center">
                    <div class="espaciado"></div>
                    <div class="col-md-6 ml-auto mr-auto text-center">
                        @Html.HiddenFor(model => model.MeetId)
                        @Html.DropDownListFor(model => model.clubid, new SelectList(Model.EquiposParticipantes, "TeamId", "TName"), "Seleccione un club", new { @class = "form-control mr-sm-2" })
                    </div>
                        <input type="submit" value="Ver resultados" name="subscribe" class="btn btn-primary">
                    </div>
                    }
                </div>
            </div>

        </div>

      
        <div class="col-md-6">
            <div class="card card-pricing card-raised">

                <div class="card-body ">
                    <h4 class="card-title">Pruebas en el torneo</h4>
                    <div class="icon icon-rose">
                        <i class="material-icons">assignment</i>
                    </div>
                    @using (Html.BeginForm("ResultadoPorPruebas", "Resultados", FormMethod.Post))
                    {
                       
                <div class="u-type--center">
                    <div class="espaciado"></div>
                    <div class="col-md-6 ml-auto mr-auto text-center">
                        @Html.HiddenFor(model => model.MeetId)
                        @Html.DropDownListFor(model => model.pruebaid, new SelectList(Model.pruebas, "Key", "Value.NombrePrueba"), "Escoja una prueba", new { @class = "form-control mr-sm-2" })
                    </div>
                        <input type="submit" value="Ver resultados" name="subscribe" class="btn btn-rose">
                    </div>
                    }
                </div>
            </div>
        </div>
    </div>

</div>

