@model FDPN.ViewModels.Resultados.resultadodelnadadorenuntorneoViewModel
@{
    ViewBag.Title = "Resultado Del Nadador En Un Torneo";

    string path = "http://afiliaciones.jorgearananeyra.com/Content/Images";
}

<section class="site-ranking">
    <div class="wrapper site-homepage__pushup">
        <header class="site-homepage__section__header">
            <h2 class="site-title site-title--ultra site-title--ultra--primary">Resultados en un torneo</h2>
            <p class="u-type--medium u-type--delta u-spc-bottom--med">@Model.atleta.First @Model.atleta.Last en el torneo</p>
            <div class="site-athleteswidget__photo">
                <img src=@Url.Content(path + "/" + Model.afiliado.RutaFoto + ".jpg")>
            </div>
            <h2 class="site-title site-title--ultra">@Model.torneo.MName - @Model.torneo.Start.ToShortDateString()</h2>
           
        </header>
      
        <div id="js-table" class="site-contentpage js-table table">
            <table class="table__data">
                <thead>
                    <tr>
                        <th>Distancia</th>
                        <th>Estilo</th>
                        <th>Puesto</th>
                        <th>Tiempo</th>
                        <th>Puntos FINA</th>
                        <th>Final/Preliminar/Trial</th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.resultados)
                    {
                        <tr>
                            <td>@item.DISTANCE</td>
                            <td>@item.STROKE</td>
                            <td>@item.PLACE</td>
                            <td>@item.SCORE</td>
                            <td>@item.PFina</td>
                            <td>@item.F_P</td>
                        </tr>
                    }
                </tbody>
            </table>




        </div>
    </div>
    <div class="site-homepage__section__header u-animation--fadeInSection">
        @Html.ActionLink("Listado de nadadores", "Nadadores", "Resultados", null, new {@class= "btn btn--med btn--primary u-rounded" })
      
    </div>
    <div class="espaciado"></div>
    <div class="site-homepage__split u-group u-animation--fadeInSection">
        <section class="site-homepage__split__item u-bg--pooldiver u-bg--blueoverlay">

            @Html.Action("_nadadordestacado", "Home")

        </section>
        <section class="site-homepage__split__item u-bg--surface u-bg--blueoverlaydark">
            @Html.Action("_indexranking", "Home")
        </section>
    </div>
</section>