@model FDPN.ViewModels.Resultados.ResultadosDeUnaPruebaViewModel

@{
    ViewBag.Title = "Resultado Por Pruebas";
}

<div class="container">
    <div class="section section-text">
        <div class="row">
            <div class="col-md-8 ml-auto mr-auto">
                <h3 class="title">Resultados de pruebas finales</h3>


            </div>
            <table class="table">
                <thead>
                    <tr>

                        <th>Puesto</th>
                        <th>Tiempo</th>
                        <th>Distancia</th>
                        <th>Estilo</th>
                        <th>Deportista</th>
                        <th>Sexo</th>
                        <th>Edad</th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Resultadosfinales)
                    {
                        <tr>

                            @if (item.PLACE < 4)
                            {
                                <td>
                                    <div class="row">
                                        <div class="col-xs-2">@item.PLACE</div>
                                        <div class="col-xs-2"><div class=@("medalla"+(item.PLACE)) aria-hidden="true"></div></div>

                                    </div>

                                </td>
                            }
                            else
                            {
                                <td>@item.PLACE</td>
                            }
                            <td>@item.SCORE</td>
                            <td>@item.DISTANCE</td>
                            <td>@item.STROKE</td>
                            <td>@Html.ActionLink(@item.Athlete1.First + " " + @item.Athlete1.Last, "Nadador", "Resultados", new { id = item.AthleteId }, null)</td>
                            <td>@item.Athlete1.Sex</td>
                            <td>@item.Athlete1.Age</td>

                        </tr>
                    }


                </tbody>
            </table>
            <div class="col-md-8 ml-auto mr-auto">
                <h3 class="title">Resultados de pruebas preliminares</h3>
                <table class="table">
                    <thead>
                        <tr>

                            <th>Puesto</th>
                            <th>Tiempo</th>
                            <th>Distancia</th>
                            <th>Estilo</th>
                            <th>Deportista</th>
                            <th>Sexo</th>
                            <th>Edad</th>

                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Resultadospreliminares)
                        {
                            <tr>

                                @if (item.PLACE < 4)
                                {
                                    <td>
                                        <div class="row">
                                            <div class="col-xs-2">@item.PLACE</div>
                                            <div class="col-xs-2"><div class=@("medalla"+(item.PLACE)) aria-hidden="true"></div></div>

                                        </div>

                                    </td>
                                }
                                else
                                {
                                    <td>@item.PLACE</td>
                                }
                                <td>@item.SCORE</td>
                                <td>@item.DISTANCE</td>
                                <td>@item.STROKE</td>
                                <td>@Html.ActionLink(@item.Athlete1.First + " " + @item.Athlete1.Last, "Nadador", "Resultados", new { id = item.AthleteId }, null)</td>
                                <td>@item.Athlete1.Sex</td>
                                <td>@item.Athlete1.Age</td>

                            </tr>
                        }


                    </tbody>
                </table>

            </div>
     
        </div>
    </div>
</div>
           
