@model List<FDPN.ViewModels.Home.previewNoticiasViewModel>

@{

    string path = Url.Content("~/Content/img/Fotos/");
}




<div class="row">
    <div class="col-md-8 ml-auto mr-auto">
        <h2 class="title">Noticias</h2>


        <div class="card card-plain card-form-horizontal">
            <div class="card-body">
                @using (Html.BeginForm())
                {
                    <div class="row">
                        <div class="col-md-4">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <i class="material-icons">search</i>
                                    </span>
                                </div>
                                @Html.TextBox("searchString", null, new { @class = "form-control mr-sm-2" })
                            </div>
                        </div>
                        <div class="col-md-4">
                            <button type="submit" class="btn btn-primary ">Buscar</button>
                        </div>
                        <div class="col-md-4">
                            <p class="description">
                                Buscar una noticia
                            </p>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

<div class="container IgualAltura">

    <br>
    @if (Model.Count() > 0)
    {

        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-md-4">
                    <div class="card card-plain card-blog">
                        <div class="card-header card-header-image">
                            <a href=@Url.Action("Noticia", "Documentos", new { @id= item.noticia.NoticiaId})>
                                <img class="img img-raised imagenpreviewNoticia" src="@Url.Content(path +  item.fotos[0].Nombrefoto)">
                            </a>
                        </div>
                        <div class="card-body">
                            <h6 class="card-category @item.noticia.Disciplina.clase">

                                @item.noticia.Disciplina.TipoDisciplina
                            </h6>
                            <h4 class="card-title">
                                <a href=@Url.Action("Noticia", "Documentos", new { @id= item.noticia.NoticiaId})>@item.noticia.Titulo</a>
                            </h4>
                            <p class="card-description">
                                @item.noticia.Corta
                                <a href=@Url.Action("Noticia", "Documentos", new { @id= item.noticia.NoticiaId})> Leer nota completa </a>
                            </p>
                        </div>
                    </div>
                </div>
            }
        </div>

    }
    else
    {
<div class="card col-sm-12 marco">
    <h2 class="title">Noticias</h2>
</div>
    }
</div>

