@model FDPN.ViewModels.Noticia.DetalleNoticiaViewModel
@{
    ViewBag.Title = "Noticia";
    string columnas = "col-md-4";
    string path = Url.Content("../Content/img/Fotos/");
}

<div class="section section-text">
    <div class="row">
        <div class="col-md-8 ml-auto mr-auto">
            <h2 class="title">@Model.noticia.Titulo</h2>
            <p>
                @Html.Raw(WebUtility.HtmlDecode(Model.noticia.Corta))
            </p>
            <div class="blockquote undefined">
                <small>
                    Publicado por Prensa FDPN
                </small>
            </div>
            <div>
                @Html.Raw(WebUtility.HtmlDecode(Model.noticia.Larga))
            </div>
        </div>

    </div>
    <div class="container">
        <div class="row">
            @switch (Model.fotos.Count)
            {
                case 1:
                    columnas = "col-md-12";
                    break;
                case 2:
                    columnas = "col-md-6";
                    break;
                case 4:
                    columnas = "col-md-6";
                    break;
                case 8:
                    columnas = "col-md-6";
                    break;
                default:
                    columnas = "col-md-4";
                    break;
            }
            @foreach (var item in Model.fotos)
            {

                <div class="@columnas">
                    <img class="img-raised rounded img-fluid" alt="Raised Image" src="@Url.Content(path + item.Nombrefoto)"
                         href=@Url.Action(path + item.Nombrefoto) target="_blank">



                </div>
            }

        </div>
    </div>
</div>
