
@model List<FDPN.Models.Fotos>

@{
    ViewBag.Title = "ListadoDocumentos";
    string titulo = ViewBag.Titulo;
    string path = Url.Content("../Content/img/Fotos/");

}


<div class="container">
    <h2 class="title">@titulo</h2>
    <table class="table datatablareves">
        <thead>
            <tr>
                <th>
                    Descipción
                </th>
                <th>
                    Categoría
                </th>
                <th>
                    Disciplina
                </th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    <style display: none;> @item.Noticias.Fecha.ToString("yyyy/MM/dd")</style>
                    <a href=@Url.Action( path + @item.Nombrefoto ) target="_blank">
                        @item.Noticias.Titulo
                    </a>
                </td>
                <td>
                        @item.Noticias.CategoriaNoticia.Detalle
                  
                </td>
                <td>
                        @item.Noticias.Disciplina.TipoDisciplina
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>