@model FDPN.ViewModels.Masters.DetalleNadadorMastersViewModel


@{
    ViewBag.Title = "Detalle nadador";
    string path = "http://afiliaciones.fdpn.org/Content/Images";
}


<section class="site-homepage__section site-athletedetails">

    <div class="wrapper site-homepage__pushup">
        @using (Html.BeginForm("Nadadores", "masters", FormMethod.Post))
        {
            <header class="site-homepage__section__header">

                <h2 class="site-title site-title--ultra site-title--ultra--primary">Nadadores</h2>
                <p class="u-type--medium u-type--delta u-spc-bottom--med">Buscar por nombre o apellido</p>
                @Html.TextBox("searchString", null, new { @class = " input input--text input--med input--med--padded" })
                <input type="submit" value="Buscar" class="btn btn--primaryapnea btn--lrg u-rounded" />

            </header>
        }
        <div class="site-homepage__section__content">
            <div class="site-athletedetails__athlete .formatted__hugephoto">
                @*seccion para poner la foto y ultimas competencias*@
                <div class="site-athleteswidget__athlete fondoceleste">

                    <div class="site-athleteswidget__photo">
                        <img src=@Url.Content(path + "/" + Model.Inscripciones.RutaFoto + ".jpg")>
                    </div>

                    <div class="site-athleteswidget__info ">
                        <h3 class="site-athleteswidget__name"><strong>@Model.nadador.First.ToLower() <span>@Model.nadador.Last.ToUpper()</span></strong> (@Model.nadador.Age años)</h3>
                        <br />
                        <h5 class="site-athleteswidget__name">Código: @Model.Inscripciones.DNI</h5>
                        <br />
                        <h5 class="site-athleteswidget__name">@Model.Inscripciones.Club.NombreClub</h5>
                        <hr />

                    </div>
                </div>
                <div class="espaciado"></div>

                @*sección mejores tiempos de su carrera*@
                <h2 class="u-type--gamma u-spc-bottom--med textoceleste">
                    Mejores tiempos en su carrera y en los 12 últimos meses
                </h2>
                <div class="table">
                    <table class="table__data">
                        <thead>
                            <tr>
                                <th>Prueba</th>
                                <th>Piscina larga</th>
                                <th>Piscina corta</th>
                                <th>Últimos doce meses en larga</th>
                                <th>Últimos doce meses en corta</th>

                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Mejorestiempos)
                            {
                                <tr>
                                    <td>
                                        <a href="@Url.Action("RendimientoDelNadadorEnUnaPrueba", "masters", new { athleteid = Model.nadador.AthleteId, pruebaid = item.Key.PruebaId })" class="hasTooltip">
                                            @item.Key.distancia.ToString() @item.Key.estilo.ToString()
                                            <span>Vea el rendimiento en esta prueba</span>
                                        </a>

                                    </td>
                                    <td>
                                        <a href="@Url.Action("ResultadoDelNadadorEnUnTorneo", "masters", new { @MeetId = item.Value.Mejortiempolarga.MeetId, athleteid = item.Value.Mejortiempolarga.AthleteId })" class="hasTooltip">
                                            @item.Value.Mejortiempolarga.SCORE
                                            <span>Detalles del torneo</span>
                                        </a>
                                    </td>
                                    <td>
                                        <a href="@Url.Action("ResultadoDelNadadorEnUnTorneo", "masters", new { @MeetId = item.Value.Mejortiempocorta.MeetId, athleteid = item.Value.Mejortiempocorta.AthleteId })" class="hasTooltip">
                                            @item.Value.Mejortiempocorta.SCORE
                                            <span>Detalles del torneo</span>
                                        </a>
                                    </td>
                                    <td>
                                        <a href="@Url.Action("ResultadoDelNadadorEnUnTorneo", "masters", new { @MeetId = item.Value.Ultimoannolarga.MeetId, athleteid = item.Value.Ultimoannolarga.AthleteId })" class="hasTooltip">
                                            @item.Value.Ultimoannolarga.SCORE
                                            <span>Detalles del torneo</span>
                                        </a>
                                    </td>
                                    <td>
                                        <a href="@Url.Action("ResultadoDelNadadorEnUnTorneo", "masters", new { @MeetId = item.Value.Ultimoannocorta.MeetId, athleteid = item.Value.Ultimoannocorta.AthleteId })" class="hasTooltip">
                                            @item.Value.Ultimoannocorta.SCORE
                                            <span>Detalles del torneo</span>
                                        </a>
                                    </td>
                                </tr>
                            }


                        </tbody>
                    </table>
                </div>
                <div class="espaciado"></div>

                @*sección mejores tiempos por años larga*@
                <h2 class="u-type--gamma u-spc-bottom--med">Mejores tiempos en cada año piscina larga</h2>
                <div class="table">
                    <table class="table__data">
                        <thead>
                            <tr>
                                <th>Prueba</th>
                                <th>Año @Model.Annos[0]</th>
                                <th>Año @Model.Annos[1]</th>
                                <th>Año @Model.Annos[2]</th>
                                <th>Año @Model.Annos[3]</th>
                                <th>Año @Model.Annos[4]</th>

                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.MejorPorAnnoLarga)
                            {
                                <tr>
                                    <td>@Html.ActionLink(@item.Key.distancia.ToString() + " " + @item.Key.estilo.ToString(), "RendimientoDelNadadorEnUnaPrueba", "masters", new { athleteid = Model.nadador.AthleteId, pruebaid = item.Key.PruebaId }, null)</td>
                                    <td>@Html.ActionLink(item.Value.uno.SCORE, "ResultadoDelNadadorEnUnTorneo", "masters", new { @MeetId = item.Value.uno.MeetId, athleteid = item.Value.uno.AthleteId }, null) </td>
                                    <td>@Html.ActionLink(item.Value.dos.SCORE, "ResultadoDelNadadorEnUnTorneo", "masters", new { @MeetId = item.Value.dos.MeetId, athleteid = item.Value.dos.AthleteId }, null) </td>
                                    <td>@Html.ActionLink(item.Value.tres.SCORE, "ResultadoDelNadadorEnUnTorneo", "masters", new { @MeetId = item.Value.tres.MeetId, athleteid = item.Value.tres.AthleteId }, null) </td>
                                    <td>@Html.ActionLink(item.Value.cuatro.SCORE, "ResultadoDelNadadorEnUnTorneo", "masters", new { @MeetId = item.Value.cuatro.MeetId, athleteid = item.Value.cuatro.AthleteId }, null) </td>
                                    <td>@Html.ActionLink(item.Value.cinco.SCORE, "ResultadoDelNadadorEnUnTorneo", "masters", new { @MeetId = item.Value.cinco.MeetId, athleteid = item.Value.cinco.AthleteId }, null) </td>

                                </tr>
                            }


                        </tbody>
                    </table>
                </div>
                <div class="espaciado"></div>

                @*sección mejores tiempos por años corta*@
                <h2 class="u-type--gamma u-spc-bottom--med">Mejores tiempos en cada año piscina corta</h2>
                <div class="table">
                    <table class="table__data">
                        <thead>
                            <tr>
                                <th>Prueba</th>
                                <th>Año @Model.Annos[0]</th>
                                <th>Año @Model.Annos[1]</th>
                                <th>Año @Model.Annos[2]</th>
                                <th>Año @Model.Annos[3]</th>
                                <th>Año @Model.Annos[4]</th>

                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.MejorPorAnnoCorta)
                            {
                                <tr>
                                    <td>@Html.ActionLink(@item.Key.distancia.ToString() + " " + @item.Key.estilo.ToString(), "RendimientoDelNadadorEnUnaPrueba", "masters", new { athleteid = Model.nadador.AthleteId, pruebaid = item.Key.PruebaId }, null)</td>
                                    <td>@Html.ActionLink(item.Value.uno.SCORE, "ResultadoDelNadadorEnUnTorneo", "masters", new { @MeetId = item.Value.uno.MeetId, athleteid = item.Value.uno.AthleteId }, null) </td>
                                    <td>@Html.ActionLink(item.Value.dos.SCORE, "ResultadoDelNadadorEnUnTorneo", "masters", new { @MeetId = item.Value.dos.MeetId, athleteid = item.Value.dos.AthleteId }, null) </td>
                                    <td>@Html.ActionLink(item.Value.tres.SCORE, "ResultadoDelNadadorEnUnTorneo", "masters", new { @MeetId = item.Value.tres.MeetId, athleteid = item.Value.tres.AthleteId }, null) </td>
                                    <td>@Html.ActionLink(item.Value.cuatro.SCORE, "ResultadoDelNadadorEnUnTorneo", "masters", new { @MeetId = item.Value.cuatro.MeetId, athleteid = item.Value.cuatro.AthleteId }, null) </td>
                                    <td>@Html.ActionLink(item.Value.cinco.SCORE, "ResultadoDelNadadorEnUnTorneo", "masters", new { @MeetId = item.Value.cinco.MeetId, athleteid = item.Value.cinco.AthleteId }, null) </td>

                                </tr>
                            }


                        </tbody>
                    </table>
                </div>
                <div class="espaciadogrande"></div>

                @*seccion para poner los puestos*@
                @*<div class="espaciadogrande"></div>

                    <div class="table fondoceleste">
                        <h2 class="u-type--gamma u-spc-bottom--med textoblanco">Puestos logrados en su carrera</h2>
                        <table class="site-rankingwidget__table">
                            <thead>
                                <tr>
                                    <th>Puesto</th>
                                    <th>Cantidad</th>
                                    <th>Porcentaje</th>


                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.ContadorDePuestos)
                                   {
                                <tr>
                                    <td>@item.Key</td>
                                    <td>@item.Value.cantidad</td>
                                    <td>@item.Value.porcentaje.ToString("0.00") %</td>
                                </tr>
                                   }


                            </tbody>
                        </table>
                    </div>*@


                @*sección para las ultimas participaciones*@

                <div class="espaciadogrande"></div>
                <div class="table">
                    <h2 class="u-type--gamma u-spc-bottom--med">Últimas participaciones</h2>
                    <table class="table__data">
                        <tbody>
                            @foreach (var item in Model.UltimasParticipaciones)
                            {
                                <tr>
                                    <td>@Html.ActionLink(item.MeetMasters.MName, "ResultadoDelNadadorEnUnTorneo", "masters", new { @MeetId = item.MeetId, athleteid = item.AthleteId }, null)</td>
                                    <td>@item.MeetMasters.Start.ToString("dd/MMM/yyyy")</td>
                                    <td class="weak">@item.TeamMasters.TName</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                @using (Html.BeginForm("Nadadores", "masters", FormMethod.Post))
                {
                    <header class="site-homepage__section__header">

                        <p class="u-type--medium u-type--delta u-spc-bottom--med">Buscar otro deportista</p>
                        @Html.TextBox("searchString", null, new { @class = " input input--text input--med input--med--padded" })
                        <input type="submit" value="Buscar" class="btn btn--primaryapnea btn--lrg u-rounded" />

                    </header>
                }



            </div>
        </div>
    </div>

</section>

