@model FDPN.ViewModels.Masters.RendimientoDeUnaPruebaMastersViewModel

@{
    ViewBag.Title = "Rendimiento en una prueba";
    string path = "http://afiliaciones.fdpn.org/Content/Images";
}


<section class="site-ranking">
    <div class="wrapper site-homepage__pushup">
        <header class="site-homepage__section__header">
            <h2 class="site-title site-title--ultra site-title--ultra--primary">Rendimiento en una prueba</h2>
            <p class="u-type--medium u-type--delta u-spc-bottom--med">@Model.atleta.First @Model.atleta.Last</p>
            <h2 class="site-title">Prueba: @Model.prueba.distancia  @Model.prueba.estilo Piscina Larga</h2>
            <div class="site-athleteswidget__photo">
                <img src=@Url.Content(path + "/" + Model.afiliado.RutaFoto + ".jpg")>
            </div>
        </header>

        <div id="js-table" class="js-table table">
            <table class="table__data">
                <thead>
                    <tr>
                        <th>Tiempo</th>
                        <th>Prueba</th>
                        <th>Torneo</th>
                        <th>Fecha</th>
                        <th>Equipo</th>
                        <th>Piscina</th>
                        <th>Puntos</th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.ResultadosLarga)
                    {
                        <tr>
                            <td>@item.SCORE</td>
                            <td>@item.DISTANCE  @item.STROKE</td>
                            <td>@item.MEETMasters.MName</td>
                            <td>@item.MEETMasters.Start.ToString("dd/MMM/yyyy")</td>
                            <td>@item.TEAMMasters.TName</td>
                            <td>@item.COURSE</td>
                            <td>@item.PFina</td>
                        </tr>
                    }
                </tbody>
            </table>




        </div>
        <div class="espaciado"></div>
        <header class="site-homepage__section__header">

            <p class="u-type--medium u-type--delta u-spc-bottom--med">@Model.atleta.First @Model.atleta.Last</p>
            <p class="u-type--medium u-type--delta u-spc-bottom--med">Prueba: @Model.prueba.distancia  @Model.prueba.estilo Piscina Corta </p>
        </header>
        <div id="js-table" class="js-table table">
            <table class="table__data">
                <thead>
                    <tr>
                        <th>Tiempo</th>
                        <th>Prueba</th>
                        <th>Torneo</th>
                        <th>Fecha</th>
                        <th>Equipo</th>
                        <th>Piscina</th>
                        <th>Puntos</th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.ResultadosCorta)
                    {
                        <tr>
                            <td>@item.SCORE</td>
                            <td>@item.DISTANCE  @item.STROKE</td>
                            <td>@item.MEETMasters.MName</td>
                            <td>@item.MEETMasters.Start.ToString("dd/MMM/yyyy")</td>
                            <td>@item.TEAMMasters.TName</td>
                            <td>@item.COURSE</td>
                            <td>@item.PFina</td>
                        </tr>
                    }
                </tbody>
            </table>




        </div>

    </div>
    <div class="espaciadogrande"></div>
    <div class="site-homepage__split u-group u-animation--fadeInSection">
        @Html.ActionLink("Listado de nadadores", "Nadadores", "masters", null, new { @class = "btn btn--med btn--primaryapnea u-rounded" })

    </div>
    <div class="espaciadogrande"></div>
</section>